#!/usr/bin/env bash

export PROJECT_DIR="${PWD}"
export CONFIG_DIR="${PROJECT_DIR}/.config"
export ENVRC_DIR="${CONFIG_DIR}/.envrc.d"

# Logging functions
source_env "${ENVRC_DIR}/.envrc.log"

# Environment variables
source_env "${ENVRC_DIR}/.envrc.env"

# pre-commit
source_env "${ENVRC_DIR}/.envrc.pre-commit"
