[commit]
  gpgSign = true

[tag]
  gpgSign = true

[credential]
  helper = /usr/local/bin/git-credential-manager-core
  provider = github

[pull]
  rebase = false

[init]
  defaultBranch = main

[user]
  email = CHANGEME_EMAIL
  name = CHANGEME_FULL_NAME
  useConfigOnly = true
